In [12]:
#importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
#Importing the dataset
df = pd.read_csv("./air-quality-dataset/city_day.csv")

In [14]:
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory
29530,Visakhapatnam,2020-07-01,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [16]:
#We drop the Xylene column as it has too many NULL values
#We extract out the year and month data
def preprocessing(df):
    df['Date'] = pd.to_datetime(df['Date'])
    
    df['Year'] = [d.year for d in df['Date']]
    df['Month'] = [d.month for d in df['Date']]
    
    df.dropna(subset = ['AQI'],inplace = True)
    df = df.drop(['Xylene'],axis = 1)
    
    return df

In [17]:
df = preprocessing(df)
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI,AQI_Bucket,Year,Month
28,Ahmedabad,2015-01-29,83.13,NaN,6.93,28.71,33.72,NaN,6.93,49.52,59.76,0.02,0.00,209.0,Poor,2015,1
29,Ahmedabad,2015-01-30,79.84,NaN,13.85,28.68,41.08,NaN,13.85,48.49,97.07,0.04,0.00,328.0,Very Poor,2015,1
30,Ahmedabad,2015-01-31,94.52,NaN,24.39,32.66,52.61,NaN,24.39,67.39,111.33,0.24,0.01,514.0,Severe,2015,1
31,Ahmedabad,2015-02-01,135.99,NaN,43.48,42.08,84.57,NaN,43.48,75.23,102.70,0.40,0.04,782.0,Severe,2015,2
32,Ahmedabad,2015-02-02,178.33,NaN,54.56,35.31,72.80,NaN,54.56,55.04,107.38,0.46,0.06,914.0,Severe,2015,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,41.0,Good,2020,6
29527,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,70.0,Satisfactory,2020,6
29528,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,68.0,Satisfactory,2020,6
29529,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,54.0,Satisfactory,2020,6
29530,Visakhapatnam,2020-07-01,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,50.0,Good,2020,7

In [18]:

df_corr = df.corr()
df_corr = df_corr.drop(['Year','Month'],axis = 1)
df_corr = df_corr.drop(['Year','Month'],axis = 0)
plt.figure(figsize=(20,8))
ax = sns.heatmap( df_corr, 
    vmin=-1, vmax=1, center=0,
    cmap=sns.diverging_palette(20, 220, n=200),
    square=True, annot = True
)
ax.set_xticklabels(
    ax.get_xticklabels(),
    rotation=45,
    horizontalalignment='right'
)

ValueError: could not convert string to float: 'Ahmedabad'

In [ ]:
#List of cities for which we have the data
cities = df['City'].unique()
cities

In [ ]:
#Extracting out the data for Jaiur, delhi and guwahati
jaipur = df[df['City'] == 'Jaipur']
delhi = df[df['City'] == 'Delhi']
guwahati = df[df['City'] == 'Guwahati']

In [ ]:
jaipur

In [ ]:
jaipur.describe()

# YEAR 2020 ANALYSIS

In [ ]:
jaipur_2020 = jaipur[jaipur['Year'] == 2020]
delhi_2020 = delhi[delhi['Year'] == 2020]
guwahati_2020 = guwahati[guwahati['Year'] == 2020]

In [ ]:
jaipur_2020

In [ ]:
#Plotting the AQI vs Date graph for Jaipur, Delhi and Guwahati

plt.figure(figsize=(10,8))
plt.plot(jaipur_2020['Date'],jaipur_2020['AQI'])
plt.plot(delhi_2020['Date'],delhi_2020['AQI'])
plt.plot(guwahati_2020['Date'],guwahati_2020['AQI'])
plt.xlabel("Date")
plt.ylabel("AQI")
plt.title("AQI vs Date graph for the year 2020 Location : Jaipur, Delhi, Guwahati")
plt.legend(["Jaipur", "Delhi","Guwahati"])

In [ ]:
#Plotting the NO2, CO and SO2 concentrations in the city of Jaipur

fig, (ax1,ax2,ax3) = plt.subplots(1,3, figsize = (20,8))
ax1.title.set_text("Jaipur 2020 - NO2 conc.")
jaipur_2020.groupby(jaipur_2020['Month']).mean().plot(y = ['NO2'],kind = 'bar',ax =ax1)
ax2.title.set_text("Jaipur 2020 - CO conc.")
jaipur_2020.groupby(jaipur_2020['Month']).mean().plot(y = ['CO'],kind = 'bar',ax = ax2)
ax3.title.set_text("Jaipur 2020 - SO2 conc.")
jaipur_2020.groupby(jaipur_2020['Month']).mean().plot(y = ['SO2'],kind = 'bar',ax = ax3)

plt.plot()

In [ ]:
#Plotting the NO2, CO and SO2 concentrations in the city of Delhi

fig, (ax1,ax2,ax3) = plt.subplots(1,3, figsize = (20,8))
ax1.title.set_text("Delhi 2020 - NO2 conc.")
delhi_2020.groupby(delhi_2020['Month']).mean().plot(y = ['NO2'],kind = 'bar',ax =ax1)
ax2.title.set_text("Delhi 2020 - CO conc.")
delhi_2020.groupby(delhi_2020['Month']).mean().plot(y = ['CO'],kind = 'bar',ax = ax2)
ax3.title.set_text("Delhi 2020 - SO2 conc.")
delhi_2020.groupby(delhi_2020['Month']).mean().plot(y = ['SO2'],kind = 'bar',ax = ax3)

plt.plot()

# YEAR 2019 ANALYSIS

In [ ]:
jaipur_2019 = jaipur[jaipur['Year'] == 2019]
delhi_2019 = delhi[delhi['Year'] == 2019]
guwahati_2019 = guwahati[guwahati['Year'] == 2019]

In [ ]:
jaipur_2019

In [ ]:
#Plotting the AQI vs Date graph for Jaipur, Delhi and Guwahati

plt.figure(figsize=(10,8))
plt.plot(jaipur_2019['Date'],jaipur_2019['AQI'])
plt.plot(delhi_2019['Date'],delhi_2019['AQI'])
plt.plot(guwahati_2019['Date'],guwahati_2019['AQI'])
plt.xlabel("Date")
plt.ylabel("AQI")
plt.title("AQI vs Date graph for the year 2019 Location : Jaipur, Delhi, Guwahati")
plt.legend(["Jaipur", "Delhi","Guwahati"])

In [ ]:
#Plotting the NO2, CO and SO2 concentrations in the city of Jaipur

fig, (ax1,ax2,ax3) = plt.subplots(1,3, figsize = (20,8))
ax1.title.set_text("Jaipur 2019 - NO2 conc.")
jaipur_2019.groupby(jaipur_2019['Month']).mean().plot(y = ['NO2'],kind = 'bar',ax =ax1)
ax2.title.set_text("Jaipur 2019 - CO conc.")
jaipur_2019.groupby(jaipur_2019['Month']).mean().plot(y = ['CO'],kind = 'bar',ax = ax2)
ax3.title.set_text("Jaipur 2019 - SO2 conc.")
jaipur_2019.groupby(jaipur_2019['Month']).mean().plot(y = ['SO2'],kind = 'bar',ax = ax3)

plt.plot()

In [ ]:
jaipur_2019.groupby(jaipur_2019['Month']).mean()

In [ ]:
jaipur_2020.groupby(jaipur_2020['Month']).mean()

# YEAR 2019 VS 2020

In [ ]:
#Comparing the NO2,CO,SO2 concentrations for the city of Jaipur during the year 2019 and 2020 

fig,ax = plt.subplots(3,2,figsize = (10,8))
fig.suptitle("JAIPUR 2019 vs. 2020")
jaipur_2019.groupby(jaipur_2019['Month']).mean().plot(y = ['NO2'],kind = 'bar',ax =ax[0,0])
jaipur_2020.groupby(jaipur_2020['Month']).mean().plot(y = ['NO2'],kind = 'bar',ax =ax[0,1])
jaipur_2019.groupby(jaipur_2019['Month']).mean().plot(y = ['CO'],kind = 'bar',ax =ax[1,0])
jaipur_2020.groupby(jaipur_2020['Month']).mean().plot(y = ['CO'],kind = 'bar',ax =ax[1,1])
jaipur_2019.groupby(jaipur_2019['Month']).mean().plot(y = ['SO2'],kind = 'bar',ax =ax[2,0])
jaipur_2020.groupby(jaipur_2020['Month']).mean().plot(y = ['SO2'],kind = 'bar',ax =ax[2,1])

In [ ]:
#Comparing the NO2,CO,SO2 concentrations for the city of Delhi during the year 2019 and 2020

fig,ax = plt.subplots(3,2,figsize = (10,8))
fig.suptitle("DELHI 2019 vs. 2020")
delhi_2019.groupby(delhi_2019['Month']).mean().plot(y = ['NO2'],kind = 'bar',ax =ax[0,0])
delhi_2020.groupby(delhi_2020['Month']).mean().plot(y = ['NO2'],kind = 'bar',ax =ax[0,1])
delhi_2019.groupby(delhi_2019['Month']).mean().plot(y = ['CO'],kind = 'bar',ax =ax[1,0])
delhi_2020.groupby(delhi_2020['Month']).mean().plot(y = ['CO'],kind = 'bar',ax =ax[1,1])
delhi_2019.groupby(delhi_2019['Month']).mean().plot(y = ['SO2'],kind = 'bar',ax =ax[2,0])
delhi_2020.groupby(delhi_2020['Month']).mean().plot(y = ['SO2'],kind = 'bar',ax =ax[2,1])

# Jaipur 2015-2020

In [ ]:
jaipur_2018 = jaipur[jaipur['Year'] == 2018]
jaipur_2017 = jaipur[jaipur['Year'] == 2017]
jaipur_2016 = jaipur[jaipur['Year'] == 2016]
jaipur_2015 = jaipur[jaipur['Year'] == 2015]

In [ ]:
#plotting the NO2 concentration for the city of Jaipur during the year 2017-20
#(2015,2016) data is not available for Jaipur

fig, (ax1,ax2,ax3,ax4) = plt.subplots(1,4, figsize = (20,8))

ax1.title.set_text("Jaipur 2020 - NO2 conc.")
jaipur_2020.groupby(jaipur_2020['Month']).mean().plot(y = ['NO2'],kind = 'bar',ax =ax1)

ax2.title.set_text("Jaipur 2019 - NO2 conc.")
jaipur_2019.groupby(jaipur_2019['Month']).mean().plot(y = ['NO2'],kind = 'bar',ax =ax2)

ax3.title.set_text("Jaipur 2018 - NO2 conc.")
jaipur_2018.groupby(jaipur_2018['Month']).mean().plot(y = ['NO2'],kind = 'bar',ax =ax3)

ax4.title.set_text("Jaipur 2017 - NO2 conc.")
jaipur_2017.groupby(jaipur_2017['Month']).mean().plot(y = ['NO2'],kind = 'bar',ax =ax4)

#ax5.title.set_text("Jaipur 2016 - NO2 conc.")
#jaipur_2016.groupby(jaipur_2016['Month']).mean().plot(y = ['NO2'],kind = 'bar',ax = ax5)

#ax6.title.set_text("Jaipur 2015 - NO2 conc.")
#jaipur_2015.groupby(jaipur_2015['Month']).mean().plot(y = ['NO2'],kind = 'bar',ax = ax6)

plt.plot()

In [ ]:
delhi_2018 = delhi[delhi['Year'] == 2018]
delhi_2017 = delhi[delhi['Year'] == 2017]
delhi_2016 = delhi[delhi['Year'] == 2016]
delhi_2015 = delhi[delhi['Year'] == 2015]

In [ ]:
#plotting the NO2 concentration for the city of Delhi during the year 2015-2020

fig, ((ax1,ax2,ax3),(ax4,ax5,ax6)) = plt.subplots(2,3, figsize = (20,8))

ax1.title.set_text("delhi 2020 - AQI")
delhi_2020.groupby(delhi_2020['Month']).mean().plot(y = ['AQI'],kind = 'bar',ax =ax1)

ax2.title.set_text("delhi 2019 - AQI")
delhi_2019.groupby(delhi_2019['Month']).mean().plot(y = ['AQI'],kind = 'bar',ax =ax2)

ax3.title.set_text("delhi 2018 - AQI")
delhi_2018.groupby(delhi_2018['Month']).mean().plot(y = ['AQI'],kind = 'bar',ax =ax3)

ax4.title.set_text("delhi 2017 - AQI")
delhi_2017.groupby(delhi_2017['Month']).mean().plot(y = ['AQI'],kind = 'bar',ax =ax4)

ax5.title.set_text("delhi 2016 - AQI")
delhi_2016.groupby(delhi_2016['Month']).mean().plot(y = ['AQI'],kind = 'bar',ax = ax5)

ax6.title.set_text("delhi 2015 - AQI")
delhi_2015.groupby(delhi_2015['Month']).mean().plot(y = ['AQI'],kind = 'bar',ax = ax6)

plt.tight_layout()
plt.plot()

In [ ]:
delhi.info()

In [ ]:
#Function to check the amount of missing values

def missing_values_table(df):
    table = pd.DataFrame(df.isnull().sum(), columns = ['count'])
    table['percentage'] = round((table['count']/df.shape[0])*100,2)
    return table

In [ ]:
missing_values_table(delhi)